<article class="tier tier--{{name.toLowerCase()}}">
  <h2 class="tier__title">{{name}}</h2>
  <div class="tier__price tier__price--monthly">{{pricing.monthly}}</div>
  <div class="tier__price tier__price--annually">{{pricing.annually}}</div>
  <ul class="tier__perks">
    <li class="tier__perks-item">{{perks[0]}}</li>
    <li class="tier__perks-item">{{perks[1]}}</li>
    <li class="tier__perks-item">{{perks[2]}}</li>
  </ul>
  <a name="{{name.toLowerCase()}}" class="tier__more"> Learn more </a>
</article>
